body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.brand {
  background-color: #feffbe;
}

svg {
  fill: lightblue;
  stroke: #feffbe;
}

.form-box {
  min-width: 100%;
  height: 100vh;
  margin: 2vw;
  padding: 2vw;
  padding-left: 35%;
  position: relative;
  font-family: "Comic Sans Ms";
}

.form-box input,
textarea {
  display: block;
  float: center;
  width: 40%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0 0;
  border: 0;
  border-radius: 5px;
}

.form-box textarea {
  height: 10vh;
}
